:root{
    --light-blue:#AEC4EF;
    --blue:#4C75EC;
    --off-white:#EDECF3;
    --dark-gray:#333333;
    --carrot-orange:#FF7C32;
    --carrot-green:#8EBA71;
    --carrot-green-dark:#5C7861;
    --ear-pink:#FBA6AE;
    --ear-pink-light:#FFD7CA;
}
body{
    margin:0;
    background-color:var(--off-white);
    color:var(--dark-gray);
    font-family: Tahoma, Arial, sans-serif;
    font-size:16px;
    line-height:1.6em;
}

/* global */
.container{
    margin:10px auto;
    width:80%;
    overflow:hidden;
}

.highlight{
    color:var(--carrot-orange);
}

.textbox .topic h2{
    padding:0;
    margin:0;
}

.textbox .topic{
    text-align:center;
}

.textbox ul{
    padding:0;
    margin:0;
}

.textbox p{
    padding:0;
    margin:0;
}

/* header section*/
header{
    background-color:var(--light-blue);
    color:var(--dark-gray);
    padding-top:10px;
    min-height: 100px;
    border-bottom: 5px solid var(--blue);
}
header .container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
    
}

header #logo h1{
    margin:0;
    padding:0;
}

header #logo{
    display:inline-block;
    text-align:center;
    padding: 20px;
    width:150px;
    border: 5px solid var(--ear-pink);
    border-radius:20px;
    background-color:var(--ear-pink-light);
    margin-right:20px;
    color:#615854;
    font-size:16px;
}

nav{
    display:inline-block;
    padding:10px 0px;
    margin-top:20px;
    min-width:200px;
    background: var(--carrot-green);
    border: 5px solid var(--carrot-green-dark);
    border-radius:20px;
}

header ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0;
    padding:0;
}
header li{
    text-align:center;
    padding: 0 10px;
    margin:0;
    list-style:none;
}

header a{
    text-decoration:none;
    color:var(--off-white);
    font-size:20px;
    padding:10px;
}

header .current a{
    color:var(--carrot-orange);
    font-weight:bold;
    padding:0 5px;
    border-left:2px solid var(--carrot-green-dark);
    border-right:2px solid var(--carrot-green-dark);

}




/* ================ Home page ====================*/
#about #info p, h2{
    padding:0;
    margin:0;
    font-size:20px;
}

#about .container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#about #info{
    float:left;
    width:70%;
    box-sizing:border-box;
    margin-top:20px 0 0 0;
    border: 5px solid var(--dark-gray);
    border-radius:10px;
    padding:20px;
    
}

#about #status{
    border: 5px solid #008080; 
    border-radius:10px;
    background-color:#99EDC3;
    color: #008080;
    width:30%;
    min-width:150px;
    padding:5px;
    margin:auto;
    margin-top:10px;


}
#about #photo img{
    margin:0;
    padding:0;
    border:5px solid var(--dark-gray);
    border-radius:10px;
   
}
#about #photo figcaption{
    margin:0;
    padding:0;
    text-align:center;
}
#about #photo{
    float:right;
}

/* footer section */
footer{
    text-align:center;
    background-color:var(--blue);
    color:var(--off-white);
    margin-bottom:0;    
}

/* ============= Education page ============== */


#schools .strip{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#schools .strip .picture-box img{
    margin:0;
    padding:0;
    width:150px;
}
#schools .strip .picture-box{
    float:left;
    box-sizing:border-box;
}

#schools  .strip .textbox .topic h2{
    padding:0;
    margin:0;
}

#schools  .strip .textbox .topic{
    text-align:center;
}

#schools  .strip .textbox ul{
    padding:0;
    margin:0;
}

#schools .strip .textbox{
    width:70%;
    padding:20px;
    margin-top:20px;
    box-sizing:border-box;
}

/* ============= Skills page ============= */

#skills #skill-boxes{
    display:flex;
    flex-wrap:wrap;
}

#skill-boxes .box .textbox ul{
    text-align: center;
    list-style: none;
    width:100%;
}
#skill-boxes .box .textbox .topic{
    width:100%;
}

#skill-boxes .box .textbox{
    width:100%;
    margin:auto;
    margin-top:10px;
}
#skill-boxes .box .picture-box img{
    width:70%;
    margin:0;
    padding:0;
}
#skill-boxes .box .picture-box{
    text-align:center;
    width:70%;
    margin:auto;
}
#skill-boxes .box{
    text-align:center;
    width:30%;
    padding:10px;
    flex: basis 0;
    margin:10px 0;
    border:1px solid var(--dark-gray);
    box-sizing:border-box;

}

#skill-boxes{
    margin: 10px 0;
}

/* ========= Projects Page ============= */

#projects .strip .textbox .topic{
    text-align:left;
}
#projects .strip .textbox{
    text-align:left;
}

#projects .strip a{
    display:inline-block;
    min-width:20px;
    text-decoration:none;
    background-color: var(--carrot-green);
    color:var(--off-white);
    border: 5px outset var(--carrot-green-dark);
    border-radius:20px; 
    padding:10px;
    font-size:20px;
    margin:5px 0;
}

/* ============ Contact Page ========== */

#contact .textbox a img{
    margin-top:10px;
}

@media(max-width: 1024px) {
    header .container,
    #about .container
    {
       justify-content:center;
       margin:auto;
    }
}
@media(max-width: 768px){
    #skills #skill-boxes{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }

    #skills #skill-boxes .box{
        width:80%;
    }
}
